* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  height: 15vh;
  background-color: #0466c8;
  align-items: center;
}

.nav img {
  width: 80px;
}

.nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.background {
  background-image: url("./img/pexels-pixabay-264636.jpg");
  height: 85vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
}

.homescreen-button {
  text-decoration: none;
  padding: 2rem 3rem;
  border-radius: 3rem;
  background-color: #0466c8;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homescreen-button:hover {
  filter: brightness(90%);
}

main h1 {
  text-align: center;
  margin: 2rem 0;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.bg::after {
  content: "";
  background-image: url("./img/pexels-pixabay-264636.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
  justify-content: center;
  gap: 1.5rem;
}

.card {
  -webkit-box-shadow: 10px 10px 30px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 30px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.75);
  padding: 1rem;
  transition: all linear 300ms;
  background-color: #fff;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.info h4 {
  text-align: center;
  font-size: 2rem;
}
.info p {
  font-size: 1.5rem;
}

.kasse i {
  position: absolute;
  font-size: 2rem;
  right: 1%;
  cursor: pointer;
  color: #e63946;
}

.kasse {
  width: 50%;
  display: none;
  border: 0.5rem solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e9ecef;
}

.kasse img {
  margin: 0 auto;
}

.kasse h2 {
  text-align: center;
}

.kasse p {
  font-size: 1.5rem;
  padding: 1rem;
}

.checkbox-wrapper {
  font-size: 1.5rem;
  /* width: 100%; */
  /* padding: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: green;
  padding: 1.5rem 2rem;
  border-radius: 3rem;
  background-color: #007f5f;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  text-decoration: none;
  margin-bottom: 1rem;
}

.summary {
  width: 45%;
}

.summary p {
  font-size: 1.5rem;
}

.checkout-container {
  display: flex;
  justify-content: space-between;
}

#logo-name-div {
  display: flex;
}

#site-name {
  color: #fff;
  text-decoration: none;
  font-size: 4rem;
  align-self: center;
}

#site-logo {
  padding: 0.5rem;
}

.form-wrapper {
  width: 45%;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
  width: 50%;
  margin: 1rem auto;
}

form input {
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}
